<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1> Welcome to the text analyazer.Enter your text</h1></center>

<form action="/analyze" method="get">
    <textarea name="text" style="width: 1313px; height: 125px;"></textarea><br>
    <input type="checkbox" name="removepun" id="">remove punctions<br>
    <input type="checkbox" name="capitalize" id="">UPPER CASE<br>
    <input type="checkbox" name="Newlineremover" id="">Newlineremover<br>
    <input type="checkbox" name="spaceremover" id="">Spaceremover<br>

     <button type="submit">Enter Here</button>

</form>

</body>
</html>